/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import "../bootstrap/less/variables.less";

/*@font-size-base:          14px;*/
@text-presentation-size : 16px;
//@color-important: #539FD6;
@color-important:#00E7FC;


/*h1{
    color:  @color-important;
}*/

.jumbotron {
  padding-top: 10px;
}
.img-thumbnail{
    background-color: #FFFFFF;
}
.text-presentation{
/*    font-size: @font-size-base;*/
    font-size: @text-presentation-size;
    p { font-size: @text-presentation-size;  }
}

.important{
    color:  @color-important;
}

.chti-nav-spacing{
    margin-left: 10%;
}

.chti-title{
    margin-left: 10%;
    margin-right: 10%;
}

.chti-div-limite{
    max-width: 350px;
}

.chti-div-temoignage{
   font-style: italic;
   font-size: 12px;
   text-align: left;
}
.chti-div-temoignage blockquote p{
   font-size: 13.5px;
   padding: 0px 0px;
   margin: 0px;
}

.chti-admin-list{
/*    border:1px solid black;*/
    border-radius: 5px;
    padding: 5px;
/*    margin: 5px;*/
}

.chti-admin-clients-animate-container {
  list-style:none;
  margin:0;
  padding:0 10px;
}

.animate-repeat {
  line-height:25px;
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave{
  -webkit-transition:all linear 0.3s;
  transition:all linear 0.3s;
}

.animate-repeat.ng-leave{
    -webkit-transition:all linear 0s;
    transition:all linear 0s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}

.chti-admin-client{
    margin: 1px;
}

.chti-admin-list ul li { border-top: solid 1px #ddd; padding: 4px 0; }
.chti-admin-list ul li:first-child { border-top: 0; }

.btn-list-xs{
    padding: 3px 5px;
    margin: 2px;
    font-size: 10px;
    line-height: 1.5;
    border-radius: 3px;
}

.panel-default>.panel-heading {
    color: #ffffff;
    background-color: black;
    border-color: #0d747c;
}

.panel {
    background-color: rgba(102, 184, 174, 0.6);
}

.panel-title a {
    cursor: pointer;
}

.datepicker td, th {
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

.well{
   background-color: #369EA7;
}

.green{
   color: green; 
}
.red{
   color: red; 
}