/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import "../bootstrap/less/variables.less";

/*@font-size-base:          14px;*/
@text-presentation-size : 16px;
@color-important: #539FD6;

h1{
    color:  @color-important;
    
}

.text-presentation{
/*    font-size: @font-size-base;*/
    font-size: @text-presentation-size;
    p { font-size: @text-presentation-size;  }
}

.important{
    color:  @color-important;
}

.chti-nav-spacing{
    margin-left: 10%;
}

.chti-title{
    margin-left: 10%;
    margin-right: 10%;
}

.chti-div-limite{
    max-width: 350px;
}

.chti-div-temoignage{
   font-style: italic;
   font-size: 12px;
   text-align: left;
}
.chti-div-temoignage blockquote p{
   font-size: 12px; 
   padding: 0px 0px;
   margin: 0px;
}


