<div class="jumbotron">
    
    <div class="container">
        <h1>Témoignages</h1>
        <p>Il y a {{temoignages.length}} témoignages, ajoutez le votre ! </p>

        <div class="chti-div-temoignage" ng-repeat="temoignage in temoignages">
          <blockquote ><p>"{{temoignage.message}}"</p>
            <p><small>{{temoignage.initiale}}</small></p></blockquote> 
        </div>

        <form class="form-horizontal" role="form" name="formData" ng-submit="processForm(formData.$valid)" novalidate>
                <div class="form-group has-feedback" ng-class="{ 'has-error' : formData.name.$invalid && !formData.name.$pristine, 'has-success' : formData.name.length > 0 }">
                    <label for="name" class="col-sm-2 control-label">Nom </label>
                    <div class="col-sm-5">
                        <input id="name" class="form-control" type="text" placeholder="Ex : Pierre P." ng-model="formData.name" required />
                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="formData.name.length > 0"></span>
                        <p ng-show="formData.name.$invalid && !formData.name.$pristine" class="help-block">Un nom est nécessaire.</p>
                    </div>
                    <!--                <label for="firstName" class="col-sm-1 control-label">Nom</label>
                                    <div class="col-xs-4">
                                        <input id="lastName" class="form-control" type="text" id="lastName" ng-model="formData.lastName">
                                    </div>-->
                </div>

                <div class="form-group has-feedback" ng-class="{ 'has-success' : formData.message.length > 0 }">
                    <label for="inputMessage" class="col-sm-2 control-label">Message</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" id="inputMessage" rows="3" placeholder="Votre message" ng-model="formData.message" required></textarea>
                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show=" formData.message.length > 0"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                        <button type="submit" class="btn btn-success" ng-disabled="formData.$invalid">Envoyer</button>
                    </div>
                </div>
            </form>

        <!--
        <div class="chti-div-temoignage">
            <blockquote class="italic"><p>"{{temoignages[0].message}}"</p>
            <p><small>{{temoignages[0].initiale}}</small></p></blockquote>
        </div>
        -->

    </div>
</div>
